# Datasets
data/

# Virtual environments and dependencies
tf-gpu/
.venv/
venv/
env/
node_modules/

# Outputs
umap.png
top_k.png
visualizations/*/output/
visualizations/output/
visualizations/*/*.png
webapp/server/artifacts/
model/artifacts/*.csv
tests/artifacts/
model/artifacts/*.png

# Misc
.git
.vscode/
__pycache__
test.py
