# Datasets
Data/
dataset/

# Virtual environments
tf-gpu/
.venv/
venv/
env/

# Outputs
accuracy_curve.png
loss_curve.png
embeddings.csv
confidences.csv
roc_auc.png
confusion_matrix.png
umap.png
top_k.png
visualizations/*/output/
visualizations_output/

# Custom settings
.vscode/
__pycache__
requirements.txt

# Emily's temporary vit model pls ignore
vit_model.py