/* 
*Citations (05/27/26): 
*   https://www.w3schools.com/CSSref/atrule_keyframes.php
*   https://www.w3schools.com/CSSref/css3_pr_transform.php
*   https://www.w3schools.com/cssref/css3_pr_animation-timing-function.php
*/

/* ----- AUDIO PLAYER ----- */
.audioPlayer {
    width: 92%;
    max-width: 450px;
    background-color: #3a3a3a;
    color: white;
    border: 1px solid #6a6a6a;
    border-radius: 6px;
    padding: clamp(0.5rem, 1.5vw, 0.9rem);
    font-size: 1rem;
    margin-top: 20px;
}

.audioTitleContainer {
    width: fit-content;
    min-width: 0;
    max-width: 260px;
    white-space: nowrap;
    font-size: clamp(0.8rem, 2vw, 0.95rem);
    overflow: hidden;
}

.audioTitleText {
    display: inline-flex;
    white-space: nowrap;
}

.audioTitleText.scrolling {
    animation: scrollTitle 10s ease-in-out infinite
}

.audioRow {
    display: flex;
    align-items: center; 
    height: 45px;
    gap: clamp(0.5rem, 1vw, 0.75rem);
}

.audioScrubber {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
}

.playbackBar {
    width: 100%;
    accent-color: white;
    cursor: pointer;
    margin: 0;
}

.audioTimes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: clamp(0.6rem, 1.5vw, 0.7rem);
    color: #b3b3b3;
    position: absolute;
    top: 17px; 
}

.playButton {
    width: clamp(30px, 4vw, 34px);
    height: clamp(30px, 4vw, 34px);
    border-radius: 50%;
    background: #1a1a1a;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@keyframes scrollTitle {
    0% {transform: translateX(0%);}
    90% {transform: translateX(var(--X));}
    100% {transform: translateX(0);}
}