/* ----- BASE AND TYPOGRAPHY ----- */
@font-face {
    font-family: 'YDGothic';
    src: url('/YDGothcic 120 Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'YDGothic', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 125%;
}

/* ----- PAGE LAYOUT ----- */
.page {
    min-height: 100vh;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;
}

.frame {
    position: relative;
    min-height: 100vh;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    box-sizing: border-box;
    padding: 2rem 2rem;
}

/* ----- DECORATIVE BORDERS FOR FRAME ----- */
.frame::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3vw;
    border-left: 1px dashed #444444;
}

.frame::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -3vw;
    border-right: 1px dashed #444444;
}

/* ----- NAVIGATION BAR ----- */
.navDivider {
    height: 1px;
    background-color: #444444;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    height: 40px;
    transform: translateY(-45%);
}

.navBar h2 {
    color: white;
    margin: 0;
}

.navButtons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 1rem;
    width: 100%;
}

.navButtons a:last-child {
    margin-left: auto;
}

.navButtons a {
    background: none;
    border: none;
    color: #b0b0b0;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.navButtons a:hover {
    color: white;
}

.homeButton {
    margin-left: auto !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid #6a6a6a;
    border-radius: 6px;
    padding: 0.55rem 0.8rem !important;
}

.navButton.active {
    color: #bb7ac7;
    text-decoration: underline;
}

/* ----- HEADER SECTION ----- */
.headerTitle {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin: 0;
}

.headerTitle h1 {
    margin-bottom: 0.5rem;
}

.headerTitle h1:first-child {
    font-weight: 700;
}

.headerTitle h1:last-child {
    font-weight: 100;
}

.header p {
    color: #b0b0b0;
    margin-top: 0;
    margin-bottom: 0;
}